body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#D93D00, #ff6e35);
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #D93D00;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: #D93D00;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b73000; /* Tom mais escuro no hover */
}

.text-start {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

/* Responsividade */
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    .btn {
        padding: 10px;
    }
}

/* Responsividade iPhone SE (não ligo para os outros celulares) */
@media screen and (max-width: 768px) {
    body .img-fluid {
        position: fixed;
        top: 50px;
        left: 50%;                /* posiciona o centro no meio da tela */
        transform: translateX(-50%); /* corrige o deslocamento */
        max-width: 100%;          /* evita que estoure na tela */
    }

    body #container {
        width: 100vw !important;       /* largura total da viewport */
        max-width: 100vw !important; 

        border-top-left-radius: 16px !important;
        border-top-right-radius: 16px !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

        position: fixed;
        top: 280px;
        bottom: 20px;
        width: 100%;
    }
}