:root {
    --color-warning-custom: #D98600;
    --color-info-custom: #D90032;
    --primary-custom-main: #D93D00;
    --primary-custom-light: #FF7043;
}

/* ------------------------------------ */
/* CLASSES DE CORES PARA ÍCONES E TEXTO */
/* ------------------------------------ */
.text-primary-custom-light {
    color: var(--primary-custom-light) !important;
}

.text-warning-custom {
    color: var(--color-warning-custom) !important;
}

.text-primary-custom-main {
    color: var(--primary-custom-main) !important;
}

.text-info-custom {
    color: var(--color-info-custom) !important;
}

/* ------------------------------------ */
/* ESTILO DOS CARDS DE PROPOSTA */
/* ------------------------------------ */
.proposal-card {
    border-radius: 0.75rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: white;
    border-left: 8px solid #ccc !important;
    border-top: none !important;
}

/* Estilos por data-category */
.proposal-card[data-category="points"] {
    border-left: 8px solid var(--color-warning-custom) !important;
}

.proposal-card[data-category="first"] {
    border-left: 8px solid var(--primary-custom-main) !important;
}

.proposal-card[data-category="secondary"] {
    border-left: 8px solid var(--color-info-custom) !important;
}


/* ------------------------------------ */
/* ESTILO DO PLACAR DE VOTAÇÃO          */
/* ------------------------------------ */

.voting-card {
    /* Destaca a borda lateral para o bloco de resultados */
    border-left: 5px solid var(--primary-custom-light) !important;
}

/* Ajuste do Placar */
.prize-item .progress {
    height: 18px;
    /* Altura ajustada */
}

.prize-item .progress-bar {
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
}